<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuannuo.qianbaosuoping"
    android:versionCode="15"
    android:versionName="1.15" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>

    <application
        android:name="com.chuannuo.qianbaosuoping.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chuannuo.qianbaosuoping.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/StartAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.MainActivity"
            android:theme="@style/StartAppTheme" >
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.NewTaskActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.AppDescActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.SignInActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.chuannuo.qianbaosuoping.AppDownLoadActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.PerfectInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.RecordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ExchangeCFTActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ExchangeHFActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ExchangeDBActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ExchangeQQActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ExchangeZFBActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.AboutUsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.NewsHelpActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.StrategyActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.SysNoticeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.WaveActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ExchangeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.AccountSettingActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ApplicationDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.BindingPhoneActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.SetPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.FindPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.DownLoadAppActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.InvitationActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ShareTranslucentActivity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.ShareDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.QuickRegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.WebsiteDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <!-- 夺宝 -->
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.GoodsDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.OldTaskActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.PicTextDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.CartActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"></activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.PayOrderActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.DuoBaoListActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        <activity 
            android:name="com.chuannuo.qianbaosuoping.duobao.MyNumberActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        <!-- 锁屏 -->
        <activity 
            android:name="com.chuannuo.qianbaosuoping.LockScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
            	<category android:name="android.intent.category.HOME" />      
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <service 
            android:name="com.chuannuo.qianbaosuoping.service.LockScreenService">
            <intent-filter android:priority="1000"></intent-filter>
        </service>
        
            
        <!-- 百度积分墙 -->
           <meta-data android:name="BaiduMobAd_APP_ID" android:value="be0ed209" /> 
		<activity android:name="com.baidu.mobads.appoffers.OffersActivity" 
		    android:configChanges="keyboard|keyboardHidden|orientation" />
		
        
        
        
        <!-- 下载service -->
        <service android:name="com.chuannuo.qianbaosuoping.service.DownloadService"></service>
        
        <!-- 轮询service -->
		<service android:name="com.chuannuo.qianbaosuoping.service.PollingService"></service>
		
        <!-- 友盟-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity
        android:name="com.umeng.fb.ConversationActivity"/>
        
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5304c0e456240b6fa7127e9e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="share" />
        
        <meta-data 
             android:name="LEZHUAN_CHANNEL" 
             android:value="chuannuo001" />
        <!--winads aiya dayingjia lenovo share renmingribao um-->
        <!-- CHANNEL001 - CHANNEL015 -->

	    <!--点乐 添加广告墙显示 -->
       <activity android:name="com.dlnetwork.DianleGoogleActivity"
                 android:theme="@android:style/Theme.Translucent.NoTitleBar"
                 android:configChanges="keyboardHidden|orientation"/>
       <service android:name="com.dlnetwork.DianleGoogleService" />
       <meta-data
            android:name="com.dlnetwork.cid"
            android:value="b3400d657800e5914b2d3c65b55660ae" />
       
       <!-- 多盟 积分墙 -->
       <activity
			android:name="cn.dm.android.DMOfferActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:theme="@android:style/Theme.NoTitleBar"/>
		<service
			android:name="cn.dm.android.DMService"/>
		
		<!-- 有米 积分墙-->
		<activity
		    android:name="net.youmi.android.AdBrowser"
		    android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
		    android:theme="@android:style/Theme.Light.NoTitleBar" >
		</activity>
		<service
		    android:name="net.youmi.android.AdService"
		    android:exported="false" >
		</service>
		<service
		    android:name="net.youmi.android.ExpService"
		    android:exported="false" >
		</service>
		<receiver
		    android:name="net.youmi.android.AdReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <data android:scheme="package"/>
		    </intent-filter>
		</receiver>
		<receiver
		    android:name="com.chuannuo.qianbaosuoping.YMPointsReceiver"
		    android:exported="false" >
		    <intent-filter>
		        <action android:name="ep_0ffb317788960341" />
		        <action android:name="vp_0ffb317788960341" />
		    </intent-filter>
		</receiver>
		
		<!-- 触控（畅思）积分墙 -->
		<meta-data 
		    android:name="chance_publisherid"
			android:value="895799188-9461B4-4560-6AB8-EF930E0D9"/>
		<service android:name="com.chance.engine.AdService"
            android:process="com.chance.AdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chance.service"/>
            </intent-filter>
		</service>
		
		<!-- 行云 积分墙 -->
		<activity
            android:name="com.adwalker.wall.platform.layout.AdShowActivity"
            android:configChanges="keyboardHidden|orientation"
            />
		<!-- 注册详情 Activity -->
        <activity
            android:name="com.adwalker.wall.platform.layout.AdDetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <!-- 注册网页Activity -->
        <activity
            android:name="com.adwalker.wall.platform.layout.AdShowWebActivity"
            android:configChanges="keyboardHidden|orientation" />
        
        <!-- 指盟 积分墙 -->
        <activity
			android:name="com.ZMAD.score.ScoreActivity">
        </activity >
		<activity
			android:name="com.ZMAD.score.PopDetailActivity"
			android:screenOrientation="portrait"> 
		</activity >
		<activity
			android:name="com.ZMAD.score.SoftDetailActivity"
			android:screenOrientation="portrait"> 
		</activity >
		<service
    		android:name="com.ZMAD.conne.PackageInstallService"> 
		</service>
		
		<!-- 椰果 积分墙 -->
        <activity
            android:name="cn.yeeguo.YeeguoOffersActivity"
            android:configChanges="keyboardHidden|orientation" />
        
        <!-- 鹰眼 积分墙 -->
        <activity
			android:name="com.ad.android.sdk.api.AdWallActivity"
			android:launchMode="singleTop"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="com.ad.android.sdk.api.AppDetailActivity"
			android:launchMode="singleTop"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<service
			android:name="com.ad.android.sdk.api.AdDownloadService">
		</service>
		
		<!-- 大头鸟积分墙-->
		<service 
		    android:name ="com.datouniao.AdPublisher.service.AdsService"
             android:exported="false">
        </service> 
        
        <receiver
		    android:name="com.datouniao.AdPublisher.service.AppReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <action android:name="android.intent.action.PACKAGE_REMOVED" />
		        <action android:name="com.datouniao.AdPublisher.service.check"/>
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>
		
        <activity android:name="com.datouniao.AdPublisher.AdsOffersWebView" android:configChanges="keyboardHidden|orientation" />
		
		<meta-data android:name="DTN_APP_ID" android:value="18575a56-8176-4bf7-806a-6803a8676fdd" />
		<meta-data android:name="DTN_SECRET_KEY" android:value="ohdumasepdje" />
		<!--大头鸟渠道标识-->
		<meta-data android:name="DTN_PLACE_ID" android:value="DTN" />
		<!-- 米迪渠道标识 -->
		<meta-data android:name="miidi_channelid" android:value="MIDI" />
		<!--显示米迪积分墙 -->
        <activity android:name="net.midi.wall.sdk.MyWallActivity" android:configChanges="keyboardHidden|orientation" />
		
		<!-- 分享 -->
		<!-- 微信 -->
		<activity    
		    android:name="com.chuannuo.qianbaosuoping.wxapi.WXEntryActivity"  
		    android:exported="true"  
		    android:screenOrientation="portrait"   
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" /> 
		<!-- QQ分享 -->   
		<activity
	       android:name="com.tencent.tauth.AuthActivity"
	       android:noHistory="true"
	       android:launchMode="singleTask" >
		    <intent-filter>
		           <action android:name="android.intent.action.VIEW" />
		           <category android:name="android.intent.category.DEFAULT" />
		           <category android:name="android.intent.category.BROWSABLE" />
		           <data android:scheme="tencent1103411013" />
		    </intent-filter>
		</activity>
		<activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
    </application>


</manifest>